.ansi-30 { color: #000000; }
.ansi-90 { color: #808080; }
.ansi-31, .ansi-91 { color: #ff0000; }
.ansi-32, .ansi-92 { color: #00ff00; }
.ansi-33, .ansi-93 { color: #ffff00; }
.ansi-34, .ansi-94 { color: #0000ff; }
.ansi-35, .ansi-95 { color: #ff00ff; }
.ansi-36, .ansi-96 { color: #00ffff; }
.ansi-37, .ansi-97 { color: #ffffff; }

.ansi-40 { background-color: #000000; }
.ansi-100 { background-color: #808080; }
.ansi-41, .ansi-101 { background-color: #ff0000; }
.ansi-42, .ansi-102 { background-color: #00ff00; }
.ansi-43, .ansi-103 { background-color: #ffff00; }
.ansi-44, .ansi-104 { background-color: #0000ff; }
.ansi-45, .ansi-105 { background-color: #ff00ff; }
.ansi-46, .ansi-106 { background-color: #00ffff; }
.ansi-47, .ansi-107 { background-color: #ffffff; }

.nav-tabs .nav-link {
    color: inherit;
}
.nav-tabs .nav-link.active {
    background-color: transparent;
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-bottom-color: var(--bs-nav-link-color);
    font-weight: 500;
}
.nav-tabs .nav-link:not(.active):focus, .nav-tabs .nav-link:not(.active):hover {
    border-color: transparent;
    border-bottom-color: var(--bs-gray-500);
}
.breadcrumb-item > a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}
.breadcrumb-item.active > a:hover {
    text-decoration: inherit;
    color: var(--bs-black);
}

.btn-toggle {
    padding: .25rem .5rem;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus,
.btn-toggle.active {
    color: rgba(var(--bs-emphasis-color), .8);
    background-color: var(--bs-tertiary-bg);
}
.btn-toggle.active {
    font-weight: bold;
}

@keyframes blink {
    0% { box-shadow: 0 0 0rem var(--on-off-color); }
    50% { box-shadow: 0 0 0.5rem var(--on-off-color); }
    100% { box-shadow: 0 0 1rem rgba(var(--on-off-color), 0); }
}
.online, .offline {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    border-radius: 0.25rem;
    vertical-align: top;
    background-color: var(--on-off-color);
    animation: blink 2s linear infinite;
}
.online {
    --on-off-color: var(--bs-primary);
}
.offline {
    --on-off-color: var(--bs-danger);
}