{% extends 'layout.njk' %}

{% set title %}{{ app.name }} - {{ tab }}{% endset %}
{% set breadcrumb = [
    {
        text: namespace.name,
        href: '/' + namespace.name
    },
    {
        text: app.name,
        active: true,
        ehref: '//' + app.name + '.deploy.app.br'
    }
] %}
{% set tabs %}
    <ul class="nav nav-tabs px-md-5 px-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Access Logs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Error Logs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">App Logs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>
{% endset %}

{% block content %}
    <main>
        <div class="container pt-3">
            <div class="mb-3 d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-light btn-sm"><i class="bi bi-pencil-fill"></i> Edit</button>
                <button type="button" class="btn btn-dark btn-sm"><i class="bi bi-window-plus"></i> Scale</button>
            </div>
            <div class="mx-2">
                <div class="row">
                    
                </div>
            </div>
        </div>
    </main>
{% endblock %}