{% extends 'layout.njk' %}

{% set tabs = {
    overview: "Overview",
    access_logs: "Access Logs",
    error_logs: "Error Logs",
    app_logs: "App Logs",
    settings: "Settings"
} %}
{% if tab not in tabs %}
    {% set tab = "overview" %}
{% endif %}

{% set title %}{{ app.name }} - {{ tabs[tab] }}{% endset %}

{% set breadcrumb = [
    {
        text: namespace.name,
        href: '/' + namespace.name
    },
    {
        text: app.name,
        active: true,
        ehref: '//' + (app.domains.app[0] or app.domains.global[0])
    }
] %}
{% set tabs %}
    <ul class="nav nav-tabs px-md-5 px-3">
        {% for key, value in tabs %}
            {% if tab === key %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="?tab={{ key }}">{{ value }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="?tab={{ key }}">{{ value }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>
{% endset %}
{% block content %}
    {% include 'pages/app/' + tab + '.njk' %}
{% endblock %}