{% extends 'layout.njk' %}

{% set title %}{{ namespace.name }}{% endset %}
{% set breadcrumb = [
    {
        text: namespace.name,
        active: true
    }
] %}
{% set tabs %}
    <ul class="nav nav-tabs px-md-5 px-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Apps</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>
{% endset %}

{% block content %}
    <main>
        <div class="container pt-3">
            <div class="mb-3 d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-dark btn-sm">New app</button>
            </div>
            <div class="mx-2">
                <div class="row">
                    {% for app in namespace.apps %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 p-1">
                            <a href="/{{ namespace.name }}/{{ app.name }}" class="card text-decoration-none p-0">
                                <div class="card-body">
                                    <div class="card-title h5">
                                        {{ app.name }}
                                        {% if app.online %}
                                            <span class="online"></span>
                                        {% else %}
                                            <span class="offline"></span>
                                        {% endif %}
                                    </div>
                                    <div class="text-body-secondary">
                                        <div class="fs-6">
                                            {% set replicas = 0 %}
                                            {% for key, value in app.replicas %}
                                                {% set replicas = replicas + value %}
                                            {% endfor %}
                                            {% if replicas == 0 %}
                                                <i class="bi bi-window-x"></i>
                                                No replicas
                                            {% elseif replicas == 1 %}
                                                <i class="bi bi-window"></i>
                                                {{ replicas }} replica
                                            {% else %}
                                                <i class="bi bi-window-stack"></i>
                                                {{ replicas }} replicas
                                            {% endif %}
                                        </div>
                                        <div class="small mt-2">
                                            <i class="bi bi-clock"></i> Updated {{ namespace._lastRefreshTime | timeago }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}