{% extends 'layout.njk' %}

{% set tabs = {
    apps: "Apps",
    form_sse: false
} %}
{% if tab not in tabs %}
    {% set tab = "apps" %}
{% endif %}

{% set title %}{{ namespace.name }}{% endset %}

{% set breadcrumb = [
    {
        text: namespace.name,
        active: true
    }
] %}

{% set tabs %}
    <ul class="nav nav-tabs px-md-5 px-3">
        {% for key, value in tabs %}
            {% if value %}
                <li class="nav-item">
                    <a class="nav-link {{ "active" if key === tab }}" {{ 'aria-current="page"' if key == tab }} href="/{{ namespace.name }}/{{ app.name }}?tab={{ key }}">
                        {{ value }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endset %}

{% set methods = {
    "list": "list",
    "new": "new",
    "default": "list"
} %}
{% if method not in methods %}
    {% set method = "default" %}
{% endif %}
{% set method = methods[method] %}

{% block content %}
    {% include 'pages/namespace/' + tab + '.njk' %}
{% endblock %}