{% extends 'layout.njk' %}

{% set title %}Select a namespace{% endset %}
{% set breadcrumb = [
    {
        text: "Select a namespace"
    }
] %}
{% set tabs %}
    <ul class="nav nav-tabs px-md-5 px-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Namespaces</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
    </ul>
{% endset %}

{% block content %}
    <main>
        <div class="container pt-3">
            <div class="mb-3 d-flex justify-content-end gap-1">
                <button type="button" class="btn btn-dark btn-sm ms-auto d-block">New namespace</button>
            </div>
            <div class="mx-2">
                <div class="row">
                    {% for namespace in system.namespaces %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12 p-1">
                            <a href="/{{ namespace.name }}" class="card text-decoration-none p-0">
                                <div class="card-body">
                                    <div class="card-title h5 d-flex gap-1" title="{{ namespace.name }}">
                                        <span class="card-title-text flex-1">{{ namespace.name }}</span>
                                        {% if namespace.online %}
                                            <span class="online"></span>
                                        {% else %}
                                            <span class="offline"></span>
                                        {% endif %}
                                    </div>
                                    <div class="text-body-secondary">
                                        <div class="fs-6">
                                            <i class="bi bi-app-indicator"></i> {{ namespace.apps.length }} apps
                                        </div>
                                        <div class="small mt-2">
                                            <i class="bi bi-clock"></i> Updated {{ namespace._lastRefreshTime | friendlyTime }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}