<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>{{ title }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/assets/css/custom.css">
        <link rel="shortcut icon" href="/assets/images/logo.png" type="image/png">

        <!-- HiperDialog -->
        <link rel="stylesheet" id="dialog-lights" type="text/css" href="https://hiperesp.github.io/HiperDialog/src/css/color/default.css">
        <link rel="stylesheet" type="text/css" href="https://hiperesp.github.io/HiperDialog/src/css/style.css">
        <script type="application/javascript" src="https://hiperesp.github.io/HiperDialog/src/js/core.js"></script>
        <script type="application/javascript" src="https://hiperesp.github.io/HiperDialog/src/js/extra.js"></script>

    </head>
    <body>
        {% if not hideHeader %}
            {% include 'components/header.njk' %}
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>