{% set configGroups = {
    userDefined: 'User defined',
    dokku: 'Dokku',
    deployApp: 'System'
} %}
<div class="col-md-9 pt-3">

    <div class="d-flex justify-content-between align-items-center gap-1">
        <h4>Environment Variables</h4>
        <a href="/{{ namespace.name }}/{{ app.name }}?tab={{ tab }}&subtab={{ subtab }}&method=new" class="btn btn-dark btn-sm">New environment variable</a>
    </div>
    <p class="text-body-secondary mb-1">Environment variables for your app.</p>

    <div data-id="tab-group">
        <ul class="nav nav-tabs mb-3">
            {% for configGroup, configGroupName in configGroups %}
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link" data-set-tab="{{ configGroup }}">{{ configGroupName }}</a>
                </li>
            {% endfor %}
        </ul>

        {% for configGroup, configGroupName in configGroups %}
            <div data-tab="{{ configGroup }}">
                {% set configVariables = app.config[configGroup] %}
                {% if configVariables %}
                    {% for key, value in configVariables %}
                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center gap-1">
                                <span class="monospace">{{ key }}</span>
                                <span>
                                    <a href="/{{ namespace.name }}/{{ app.name }}?{{ {
                                        tab: tab ,
                                        subtab: subtab,
                                        method: "change",
                                        id: key 
                                    } | buildSearchParams }}" class="small">Change</a>
                                </span>
                            </div>
                            <div class="card-body monospace pre">{{ value | censorEnv(key) }}</div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="m-3">
                        <div class="display-5 text-body-secondary my-3">No environment variables</div>
                        <div class="small text-body-secondary">No environment variables from this group have been set.</div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <script>
(function() {
    document.querySelectorAll("[data-id='tab-group']").forEach(function(tabGroup) {
        const tabButtons = tabGroup.querySelectorAll("[data-set-tab]");
        const tabs = tabGroup.querySelectorAll("[data-tab]");

        function setTab(event) {
            const tabToSet = event.target.dataset.setTab;

            tabButtons.forEach(function(tabButton) {
                if(tabButton.dataset.setTab == tabToSet) {
                    tabButton.classList.add("active");
                } else {
                    tabButton.classList.remove("active");
                }
            });

            tabs.forEach(function(tab) {
                if(tab.dataset.tab == tabToSet) {
                    tab.classList.remove("d-none");
                } else {
                    tab.classList.add("d-none");
                }
            });
        }
        
        tabButtons.forEach(function(tabButton) {
            tabButton.addEventListener("click", setTab);
        });

        tabs.forEach(function(tab) {
            tab.classList.add("d-none");
        });

        tabButtons[0].dispatchEvent(new Event("click"));

    });
})();
    </script>

</div>
