{% set breadcrumb %}
    <ol class="breadcrumb mb-0">
        {% for breadcrumbItem in breadcrumb %}
            <li class="breadcrumb-item {{ "active" if breadcrumbItem.active }}" aria-current="page">
                {% if breadcrumbItem.href %}
                    <a href="{{ breadcrumbItem.href }}">{{ breadcrumbItem.text }}</a>
                {% else %}
                    {{ breadcrumbItem.text }}
                {% endif %}
                {% if breadcrumbItem.ehref %}
                    <a href="{{ breadcrumbItem.ehref }}" target="_blank">
                        <i class="bi bi-link-45deg"></i>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endset %}
<header class="bg-light">
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand ms-3 me-2" href="/">
                <img src="/assets/images/logo.svg" alt="deploy-app logo" width="32" height="32" class="rounded-circle">
            </a>
            <nav aria-label="breadcrumb" class="navbar-brand me-auto d-none d-sm-block">
                {{ breadcrumb | safe }}
            </nav>
            <div class="dropdown">
                <button class="btn btn-link" type="button" data-bs-toggle="dropdown">
                    <img src="//secure.gravatar.com/avatar/{{ user.gravatar }}?s=250&d=retro&r=g" alt="avatar" width="32" height="32" class="rounded-circle">
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><p class="px-3 py-0 mb-0 fw-bold">Hello, {{ user.username }}</p></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="container-fluid d-sm-none">
            <nav aria-label="breadcrumb" class="navbar-brand mx-3 d-block d-sm-none">
                {{ breadcrumb | safe }}
            </nav>
        </div>
    </nav>
    {% if tabs %}
        <ul class="nav nav-tabs px-md-5 px-3">
            {{ tabs | safe }}
        </ul>
    {% endif %}
    </ul>
</header>
{% if system.updateCheck.status == "OUT_OF_DATE" %}
    {% if tab != "form_sse" %}
        <div class="alert alert-info rounded-0 mb-0" role="alert">
            You are using a <b>outdated</b> version of deploy-app since <b>{{ (system.updateCheck.notes|first).date | timestamp | friendlyTime }}</b> and you can update to <b>{{ (system.updateCheck.notes|last).versionStr }}</b> now. Please update to get the latest features and security updates.
            <b style="float:right"><a href="javascript:void(0)" class="btn btn-sm btn-info fw-bold" data-id="btn-show-update-moredetails">{% if system.currentAppPath %}Click here to Update{% else %}Changelog{% endif %}</a></b>
            <span data-id="update-moredetails">
                {% set isSystemCurrentAppScreen = "/"+namespace.name+"/"+app.name == system.currentAppPath %}
                {% if system.currentAppPath %}
                    <hr>
                    <h5>Update</h5>
                    <ol>
                        <li {{ ('class="fw-bold"' | safe ) if not isSystemCurrentAppScreen }}>Go to <a href="{{ system.currentAppPath}}">{{ system.currentAppPath }}</a></li>
                        <li {{ ('class="fw-bold"' | safe ) if isSystemCurrentAppScreen }}>Click on <button type="button" class="btn btn-sm btn-dark dropdown-toggle" style="transform: scale(0.8)" disabled><i class="bi bi-rocket-takeoff-fill"></i> Deploy</button> then click on <button type="button" class="btn btn-sm btn-dark" style="transform: scale(0.8)" disabled>Deploy now</button> button and wait for update.</li>
                    </ol>
                {% endif %}
                <hr>
                <h5>Changelog</h5>
                <code>
                    {% set defaultNotes = "Minimal fixes and improvements." %}
                    {% if system.updateCheck.notes %}
                        {% for log in system.updateCheck.notes %}
                            - <b>{{ log.date | datetime }} - {{ log.versionStr }}</b>:
                            {% set itemNotes = log.commitMessage | replace(r/#([a-z]+)/, "") | trim %}
                            {% if not itemNotes %}
                                {% set itemNotes = defaultNotes %}
                            {% endif %}
                            <pre class="ps-3">{{ itemNotes }}</pre>
                        {% endfor %}
                    {% else %}
                        - {{ defaultNotes }}
                    {% endif %}
                </code>
            </span>
        </div>
        <script>
    (function() {
        const btnShowUpdateMoreDetails = document.querySelector('[data-id="btn-show-update-moredetails"]');
        const updateMoreDetails = document.querySelector('[data-id="update-moredetails"]');

        btnShowUpdateMoreDetails.addEventListener("click", function() {
            updateMoreDetails.classList.toggle("d-none");
        });

        {% if not isSystemCurrentAppScreen or tab != "overview" %}
            updateMoreDetails.classList.add("d-none");
        {% endif %}
    })();
        </script>
    {% endif %}
{% endif %}