
<main>
    <div class="container pt-3">
        <div class="mx-2">
            <div class="mb-3 d-flex justify-content-end gap-1">
                {% if app.updateCheck.status == "OUT_OF_DATE" %}
                    <div class="alert alert-warning py-1 small" role="alert">{{ app.updateCheck.message }}</div>
                {% endif %}
                {% if (app.config.deployApp.DEPLOY_APP_GIT|json).REPO %}
                    <div class="dropdown">
                        <button type="button" class="btn btn-sm btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside"><i class="bi bi-rocket-takeoff-fill"></i> Deploy</button>
                        <form class="dropdown-menu dropdown-menu-end p-3" action="/{{ namespace.name }}/{{ app.name }}?tab=form_sse" method="post">
                            <input type="hidden" name="action" value="deploy-app">
                            <div class="form-group mb-3">
                                <label for="git-ref" class="small fw-bold">Git ref</label>
                                <input type="text" class="form-control" id="git-ref" name="gitRef" value="{{ (app.config.all.DEPLOY_APP_GIT|json).REF }}">
                                <div class="small text-body-secondary">Can be a branch, tag or commit hash</div>
                            </div>
                            <button type="submit" class="btn btn-sm btn-dark w-100">Deploy now</button>
                        </form>
                    </div>
                {% endif %}
                <form action="/{{ namespace.name }}/{{ app.name }}?tab=form_sse" method="post">
                    <input type="hidden" name="action" value="restart-app">
                    <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-exclamation-octagon-fill"></i> Restart</button>
                </form>
            </div>
            <div class="row">
                {% if app.instances.length > 0 %}
                    {% for instance in app.instances %}
                        <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                            <div class="card text-decoration-none p-0">
                                <div class="card-header fw-bold d-flex gap-1" title="{{ instance.id }}">
                                    <span class="card-title-text flex-1 d-flex">
                                        <span class="d-block flex-1" style="text-overflow: ellipsis; overflow: hidden;">{{ app.name }}</span>
                                        <span class="d-block">&nbsp;/&nbsp;{{ instance.dyno }}</span>
                                    </span>
                                    {% if instance.status in [ "running" ] %}
                                        <span class="status-online"></span>
                                    {% elseif instance.status in [ "restarting", "paused", "removing" ] %}
                                        <span class="status-warning"></span>
                                    {% elseif instance.status in [ "exited", "dead" ] %}
                                        <span class="status-offline"></span>
                                    {% endif %}
                                </div>
                                <ul class="list-group list-group-flush small">
                                    <li class="list-group-item monospace">
                                        <div class="d-flex justify-content-between">
                                            <span class="text-body-secondary small">Hostname</span>
                                            <code class="monospace">{{ instance.hostname }}</code>
                                        </div>
                                    </li>
                                    <li class="list-group-item monospace">
                                        <div class="d-flex justify-content-between">
                                            <span class="text-body-secondary small">IP Address</span>
                                            <code class="monospace">{{ instance.networkSettings.ipAddress }}</code>
                                        </div>
                                    </li>
                                    <li class="list-group-item monospace">
                                        <div class="d-flex justify-content-between">
                                            <span class="text-body-secondary small">MAC Address</span>
                                            <code class="monospace">{{ instance.networkSettings.macAddress }}</code>
                                        </div>
                                    </li>
                                    <li class="list-group-item monospace" title="{{ instance.uptime | datetime }}">
                                        <div class="d-flex justify-content-between">
                                            <span class="text-body-secondary small">Uptime</span>
                                            <code class="monospace">{{ instance.uptime | friendlyTime }}</code>
                                        </div>
                                    </li>
                                </ul>
                                <div class="card-footer monospace small">
                                    <div class="d-flex justify-content-between">
                                        <span class="text-body-secondary small">Status</span>
                                        <code class="monospace">{{ instance.status }}</code>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% if app._lastRefreshTime === 0 %}
                        <div class="display-5 text-body-secondary my-3">
                            Please wait while we fetch the app instances...
                        </div>
                    {% else %}
                        <div class="display-5 text-body-secondary my-3">
                            <i class="bi bi-window"></i>
                            No instances found
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="text-body-secondary small mb-3">
            <i class="bi bi-clock"></i> Last refreshed {{ app._lastRefreshTime | friendlyTime }}
        </div>

    </div>
</main>
