<main>
    <div class="container pt-3">
        <div class="mb-3 d-flex justify-content-end gap-1">
            <a href="/{{ namespace.name }}?tab=apps&method=new" class="btn btn-dark btn-sm">New app</a>
        </div>
        <div class="mx-2">
            <div class="row">
                {% if namespace.apps.length > 0 %}
                    {% for app in namespace.apps %}
                        <div class="col-lg-3 col-md-4 col-sm-6 p-1">
                            <a href="/{{ namespace.name }}/{{ app.name }}" class="card text-decoration-none p-0">
                                <div class="card-body">
                                    <div class="card-title h5 d-flex gap-1" title="{{ app.name }}">
                                        <span class="card-title-text flex-1">{{ app.name }}</span>

                                        {% set intermediateStatus = -1 %}
                                        {% if app.status.running > 0 %}
                                            {% set intermediateStatus = 2 %}
                                        {% endif %}
                                        {% if app.status.created > 0 or app.status.restarting > 0 or app.status.removing > 0 %}
                                            {% set intermediateStatus = 1 %}
                                        {% endif %}
                                        {% if app.status.exited > 0 or app.dead > 0 %}
                                            {% set intermediateStatus = 0 %}
                                        {% endif %}

                                        {% if intermediateStatus == 2 %}
                                            <span class="status-online"></span>
                                        {% elseif intermediateStatus == 1 %}
                                            <span class="status-warning"></span>
                                        {% else %}
                                            <span class="status-offline"></span>
                                        {% endif %}
                                    </div>
                                    <div class="text-body-secondary">
                                        <div class="fs-6">
                                            {% set replicas = 0 %}
                                            {% for key, value in app.replicas %}
                                                {% set replicas = replicas + value %}
                                            {% endfor %}
                                            {% if replicas == 0 %}
                                                <i class="bi bi-window-x"></i>
                                                No replicas
                                            {% elseif replicas == 1 %}
                                                <i class="bi bi-window"></i>
                                                {{ replicas }} replica
                                            {% else %}
                                                <i class="bi bi-window-stack"></i>
                                                {{ replicas }} replicas
                                            {% endif %}
                                        </div>
                                        <div class="small mt-2">
                                            <i class="bi bi-clock"></i> Updated {{ app._lastRefreshTime | friendlyTime }}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    {% if namespace._lastRefreshTime === 0 %}
                        <div class="display-5 text-body-secondary my-3">
                            Please wait while we fetch your apps...
                        </div>
                    {% else %}
                        <div class="display-5 text-body-secondary my-3">
                            <i class="bi bi-window"></i>
                            No apps
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <hr>

        <div class="text-body-secondary small">
            <i class="bi bi-clock"></i> Updated {{ namespace._lastRefreshTime | friendlyTime }}
        </div>
    </div>
</main>
