<div class="col-md-6 pt-3">
    <form action="/{{ namespace.name }}/{{ app.name }}?tab=form_sse" method="post">
        <input type="hidden" name="action" value="save-general-settings">

        <h4>General Settings</h4>
        <p class="text-body-secondary">General settings for your app.</p>

        <hr>

        <div class="form-group mb-3">
            <label class="small fw-bold">App name</label>
            <div class="input-group">
                <input type="text" class="form-control" value="{{ app.name }}" disabled>
            </div>
            <div class="small text-body-secondary">You can only change the app name using the SSH console.</div>
        </div>

        <hr>

        <div>
            <h4 class="mb-2">Git Settings</h4>
            <p class="small text-body-secondary">It will be used to sync the app data. Please configure "Deploy keys" for this repository using the server public key. We don't need write access.</p>
            <div class="form-group mt-3">
                <label for="git-repo" class="small fw-bold">Git clone by SSH URL</label>
                <input type="text" class="form-control" id="git-repo" name="gitRepo" value="{{ (app.config.all.DEPLOY_APP_GIT | json).REPO }}">
            </div>
            <div class="form-group mt-3">
                <label for="git-ref" class="small fw-bold">Git ref (branch or tag)</label>
                <input type="text" class="form-control" id="git-ref" name="gitRef" value="{{ (app.config.all.DEPLOY_APP_GIT | json).REF }}">
            </div>
        </div>

        <hr>

        <div class="form-group mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="toggle-danger-zone" data-id="toggle-danger-zone">
                <label class="form-check-label small" for="toggle-danger-zone">
                    <span class="fw-bold">Danger Zone</span>
                    <div class="text-body-secondary">If checked, you can see the dangerous options, such as deleting the app.</div>
                </label>
            </div>
        </div>

        <div data-id="danger-zone">

            <div class="mb-3 rounded border p-2 d-flex justify-content-between border-danger-subtle">
                <div class="align-self-center small">
                    <div class="fw-bold">Delete this app</div>
                    <div class="text-body-secondary">This action is irreversible.</div>
                </div>
                <div class="align-self-center">
                    <button type="button" class="btn btn-sm btn-danger" data-id="delete-app">
                        <i class="bi bi-trash-fill"></i>
                        Delete app
                    </button>
                </div>
            </div>
        </div>

        <hr>

        <div class="mb-5">
            <button type="submit" class="btn btn-dark w-100">Save</button>
        </div>
    </form>
</div>

<script>
(function() {
    const toggleDangerZoneCheckbox = document.querySelector('[data-id="toggle-danger-zone"]');
    const dangerZone = document.querySelector('[data-id="danger-zone"]');

    toggleDangerZoneCheckbox.addEventListener('change', function() {
        if (toggleDangerZoneCheckbox.checked) {
            dangerZone.classList.remove('d-none');
        } else {
            dangerZone.classList.add('d-none');
        }
    });

    toggleDangerZoneCheckbox.checked = false;
    toggleDangerZoneCheckbox.dispatchEvent(new Event('change'));
})();

(function() {
    const deleteAppButton = document.querySelector('[data-id="delete-app"]');

    deleteAppButton.addEventListener('click', async function() {
        const deleteApp = await confirmDialog('Are you sure you want to delete this app?', 'Delete app', 'Delete', 'Cancel');
        if (!deleteApp) return;

        const form = document.querySelector('form');
        form.action = '/{{ namespace.name }}?tab=form_sse';
        form.querySelectorAll("[type='submit']").forEach(function(submitButton) {
            submitButton.disabled = true;
        });
        form.querySelector('[name="action"]').value = 'delete-app';

        const inputAppName = document.createElement("input")
        inputAppName.type = "hidden";
        inputAppName.name = "name";
        inputAppName.value = {{ app.name | dump | safe }};
        form.appendChild(inputAppName);

        form.submit();
    });
})();
</script>