<div class="col-md-6 pt-3">
    <form>
        <input type="hidden" name="redirect" value="{{ originalUrl }}">

        <h4 class="mb-2">Resource Limits</h4>
        <p class="mb-4 text-body-secondary">Resource limits for your app.</p>

        <button type="submit" class="btn btn-dark w-100">Save</button>

    </form>
</div>
