<div class="col-md-6 pt-3">
    <form action="/{{ namespace.name }}/{{ app.name }}/api/logs-view" method="post">
        <input type="hidden" name="action" value="scale">

        <h4 class="mb-2">Horizontal Scaling Settings</h4>
        <p class="mb-4 text-body-secondary">Horizontal Scaling settings for your app.</p>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Replicas</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Replicas are the number of instances of your app that are running.</h6>
                <div class="row">
                    {% for key, value in app.replicas %}
                        <div class="col-md-4 form-group mb-3">
                            <label for="replicas-{{ key }}" class="fw-bold">{{ key }} instances</label>
                            <input type="number" class="form-control" id="replicas-{{ key }}" name="process[{{ key }}]" value="{{ value }}" min="0" required>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-dark w-100 mt-3">Scale</button>
    </form>
</div>
