<div class="col-md-6 pt-3">
    <form action="/{{ namespace.name }}/{{ app.name }}/api/logs-view" method="post">
        <input type="hidden" name="action" value="scale">

        <h4 class="mb-2">Horizontal Scaling Settings</h4>
        <p class="mb-4 text-muted">Horizontal Scaling settings for your app.</p>

        <div class="row">
            <div class="col-md-6 form-group mb-3">
                <label for="web" class="fw-bold">Number of web instances</label>
                <input type="number" class="form-control" id="web" name="web" value="{{ app.replicas.web }}" min="0" max="20" required>
            </div>

            <div class="col-md-6 form-group mb-3">
                <label for="web" class="fw-bold">Number of worker instances</label>
                <input type="number" class="form-control" id="worker" name="worker" value="{{ app.replicas.worker }}" min="0" max="20" required>
            </div>
        </div>

        <button type="submit" class="btn btn-dark w-100">Scale</button>
    </form>
</div>
